altgraph==0.17
appdirs==1.4.3
cycler==0.10.0
decorator==4.4.2
future==0.18.2
imageio==2.8.0
imutils==0.5.3
kiwisolver==1.1.0
matplotlib==3.2.1
networkx==2.4
numpy==1.18.2
opencv-python==4.2.0.32
pefile==2019.4.18
Pillow==7.0.0
progress-pybar==1.0.2
psutil==5.7.0
PyInstaller==3.6
pyparsing==2.4.6
python-dateutil==2.8.1
pytools==2020.1
PyWavelets==1.1.1
pywin32-ctypes==0.2.0
scikit-image==0.16.2
scipy==1.4.1
selenium==3.141.0
six==1.14.0
urllib3==1.26.5
violent-webdriver==1.0.28
